/* footer for webpages for not use in user tools */
@import url(footer.css);

/* Style of Index Page */


/* root */
:root {
  /* Font */
  --font--RobotoMono: "Roboto Mono", monospace;

  /* Gray palette */
  --color--gray1: #3a3a3c;
  --color--gray2: #242426;
  --color--gray3: #545456;
  --color--gray4: #aeaeb2;

  /* B&W palette */
  --color--white: #ebebff;
  --color--black: #00001f;

  /* Purple palette */
  --color--purple1: #D8D0E8;
  --color--purple2: #3D3554;
  --color--purple3: #2B2640;
}

.section {
  min-height: 95vh;
  width: 100%;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}


/* Banner */
main.index-page {
  background-color: var(--color--gray1);
  transition: transform 0.7s ease-in-out;
}

.banner-index > img {
  width: 65vw;
}

.banner-index > h1 {
  font-size: 3em;
  color: var(--color--purple1);
}

.scroll-icon > i {
  font-size: 2em;
  color: var(--color--purple1);
}


.slogan {
  color: var(--color--purple1);
}

.slogan > hr {
  border-radius: 1em;
  height: 6px;
  background-color: var(--color--purple1);
  width: 85%;
  margin: auto;
}



.welcome {
  color: var(--color--white);
}

.welcome-hr {
  border-radius: 1em;
  height: 3px;
  background-color: var(--color--purple1);
  width: 75%;
}


.welcome > div > p {
  text-indent: 1em;
}

.return > i {
  font-size: 2em;
  color: var(--color--purple1);
  cursor: pointer;
  transition: .3s ease;
}

.return > i:hover {
  transform: scale(1.2);
}

.makeAccount-btn {
  background-color: var(--color--purple1);
  transition: .3s ease;
}

.makeAccount-btn:hover {
  transform: scale(1.1);
}


.bi-mouse {
  animation: MouseIcon infinite 3s ease;
}

@keyframes MouseIcon {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(.6em);
  }
  100% {
    transform: translateY(0);
  }
}



.offcanvas-body-down {
  color: var(--color--white);
}