/* root */
:root {
  /* Font */
  --font--RobotoMono: "Roboto Mono", monospace;

  /* Gray palette */
  --color--gray1: #3a3a3c;
  --color--gray2: #242426;
  --color--gray3: #545456;
  --color--gray4: #aeaeb2;

  /* B&W palette */
  --color--white: #fcfcfd;
  --color--black: #00001f;

  /* Purple palette */
  --color--purple1: #D8D0E8;
  --color--purple2: #3D3554;
  --color--purple3: #2B2640;
}




/* General Style for navbar - All pages */
/* Navbar */
.navbar-main {
  backdrop-filter: blur(10px);
}

/* Title navbar */
.navbar-brand-title > p {
  color: var(--color--purple1);

}

.navbar-brand-title > img {
  width: 3em;
}



/* Icone de menu */
.navbar-menu-icon {
  border-color: transparent;
  transition: all .3s ease;
}

.navbar-menu-icon:hover {
  border-color: var(--color--purple1);
}

.navbar-menu-icon:focus {
  box-shadow: none;
} 

.navbar-menu-icon > i {
  color: var(--color--purple1);
  font-size: 1.6em;
}

.offcanvas-main {
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.offcanvas-main > .offcanvas-header {
  border-bottom: 1px solid var(--color--purple1);
}

.offcanvas-main > .offcanvas-header > h5 {
  color: var(--color--purple1);
}

.offcanvas-main > .offcanvas-header > button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .8em;
  color: var(--color--purple1);
  transition: all .3s ease;
}

.offcanvas-main > .offcanvas-header > button:hover {
  border: 1px solid var(--color--purple1);
  border-radius: .8em;
}

.offcanvas-main > .offcanvas-header > button > i {
  font-size: 2em;
}